%flexJC {
	display: flex;
	justify-content: center;
}


%flexCCC {
	@extend %flexJC;
	flex-direction: column;
	align-items: center;
}

%flexRCC {
	@extend %flexJC;
	align-items: center;
}

%flexCAC{
	display: flex;
	flex-direction: column;
	align-items: center;
}

%logo{
	background-color: #27C5D8;
}

%bg-DarkBlue{
	background-color: #0D0C45;

}
