/**** define often used css ***/

%flexJC {
	display: flex;
	justify-content: center;
}

%flexCCC {
	@extend %flexJC;
	flex-direction: column;
	align-items: center;
}

%flexRCC {
	@extend %flexJC;
	align-items: center;
}

%flexCAC{
	display: flex;
	flex-direction: column;
	align-items: center;
}

%logo{
	background-color: #27C5D8;
}

%bg-DarkBlue{
	background-color: #0D0C45;

}

%font-SW7{
	font-weight: 700;
	letter-spacing: 1px;
}


%btn{
	width: 8rem;
	text-align: center;
	margin: 5%;
	color: #0c0b45;
	text-decoration: none;
    @extend %font-SW7;
	font-size: 1rem;
	border-color: none;
	&:hover{
		background-color: #0055B8;
		text-decoration: none;
		color: white; 
		font-size: 1.1rem;
	}
	&:focus{
		box-shadow: 0px 0px 3px 3px white;
	}
	
}