@import "./variables";

.main {
	color: white;
	@extend %flexCCC;

	&__radiobtn-group {
		padding: 5%;
		width: 100%;
		@extend %flexRCC;
		flex-wrap: wrap;
		flex-grow: 1;
		&:focus {
			outline: none;
		}
	}

	&__radiobtn {
		@extend %flexCCC;
		margin: 6% 2% 3% 2%;

		&-input {
			border: 0;
			padding: 0;
			width: 1px;
			height: 1px;
			margin: -1px;
			opacity: 0;
			position: absolute;
			overflow: hidden;
			top: 50%;
			left: 50%;
			&:checked {
				+ div.main__radiobtn--fake {
					box-shadow: 0px 0px 5px 5px rgb(0, 251, 255);
				}
				~ p.main__radiobtn-option {
					color: rgb(3, 255, 251);
				}
			}
			&:focus {
				+ div.main__radiobtn--fake {
					box-shadow: 0px 0px 5px 5px rgb(0, 251, 255);
				}
				~ p.main__radiobtn-option {
					color: rgb(3, 255, 251);
				}
			}
			&:hover {
				+ div.main__radiobtn--fake {
					box-shadow: 0px 0px 3px 3px rgb(0, 251, 255);
				}
				~ p.main__radiobtn-option {
					color: rgb(3, 255, 251);
				}
			}
			&:active {
				+ div.main__radiobtn--fake {
					box-shadow: 0px 0px 5px 5px rgb(0, 251, 255);
				}
				~ p.main__radiobtn-option {
					color: rgb(3, 255, 251);
				}
			}
		}
		&--fake {
			border-radius: 50%;
			width: 120px;
			height: 120px;
			background-color: rgba(227, 215, 250, 0.888);
			position: relative;
		}
		&-option {
			padding-top: 10px;
			font-size: 1.3rem;
			font-weight: 600;
		}
	}
	&__img {
		position: absolute;
		width: 60%;
		height: 60%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&-movie {
			width: 55%;
			height: 55%;
		}
	}
	&__text-alert {
		display: inline-block;
		margin-bottom: 1%;
		color: #00fffb;
		font-weight: 700;
	}
	&__button-start {
		@extend %btn;
		margin-top: 3%;
		background-color: #a09ddc;
		border: 1px solid rgb(41, 41, 41);
	}
}

@media only screen and (max-width: 770px) {
	.main {
		&__radiobtn-group {
			padding: 0;
			width: 100%;
		}
		&__radiobtn {
			margin: 1% 5%;
			&--fake {
				width: 120px;
				height: 120px;
			}
		}
	}
}

@media only screen and (max-width: 580px) {
	.main {
		&__radiobtn {
			margin: 3% 6%;
			&-option {
				font-size: 1rem;
			}
		}
	}
}

@media only screen and (max-width: 380px) {
	.main {
		&__radiobtn-group {
			padding: 5% 0;
		}
		&__radiobtn {
			&--fake {
				width: 100px;
				height: 100px;
			}
		}
	}
}
