@import "./variables";

.main {
	color: white;
	@extend %flexCCC;

	&__radiobtn-group {
		padding: 20px;
		width: 100%;
		@extend %flexRCC;
		flex-wrap: wrap;
		flex-grow: 1;
		&:focus {
			outline: none;
		}
	}

	&__radiobtn {
		@extend %flexCCC;
		margin: 6% 2% 3% 2%;

		&-input {
			border: 0;
			padding: 0;
			width: 1px;
			height: 1px;
			margin: -1px;
			opacity: 0;
			position: absolute;
			overflow: hidden;
			top: 50%;
			left: 50%;
			&:checked {
				+ div.main__radiobtn--fake {
					> .main__img {
						-webkit-filter: drop-shadow(0px 0px 8px rgb(69, 254, 251));
						filter: drop-shadow(0px 0px 8px rgb(3, 255, 251));
					}
				}
				~ p.main__radiobtn-option {
					color: rgb(3, 255, 251);
				}
			}
			&:focus {
				+ div.main__radiobtn--fake {
					> .main__img {
						-webkit-filter: drop-shadow(0px 0px 8px rgb(69, 254, 251));
						filter: drop-shadow(0px 0px 8px rgb(3, 255, 251));
					}
				}
				~ p.main__radiobtn-option {
					color: rgb(3, 255, 251);
				}
			}
			&:hover {
				+ div.main__radiobtn--fake {
					> .main__img {
						-webkit-filter: drop-shadow(0px 0px 8px rgb(3, 255, 251));
						filter: drop-shadow(0px 0px 8px rgb(3, 255, 251));
					}
				}
				~ p.main__radiobtn-option {
					color: rgb(3, 255, 251);
				}
			}
			&:active {
				+ div.main__radiobtn--fake {
					> .main__img {
						-webkit-filter: drop-shadow(0px 0px 8px rgb(3, 255, 251));
						filter: drop-shadow(0px 0px 8px rgb(3, 255, 251));
					}
				}
				~ p.main__radiobtn-option {
					color: rgb(3, 255, 251);
				}
			}
		}
		&--fake {
			&::after {
				content: "";
				display: block;
				width: 10px;
				height: 10px;
				background: #00000089;
				border-radius: 50%;
				position: absolute;
				box-shadow: 0px 0px 1px rgb(101, 100, 100);
				top: 50%;
				left: 50%;
				transform: translate(-50%, 50%);
				opacity: 0;
				transition: all .3s ease;
			}
		}
		&-option {
			padding-top: 10px;
			font-size: 1.2rem;
			font-weight: 700;
		}
	}
	&__text-alert {
		display: inline-block;
		margin-bottom: 1%;
		color: #00fffb;
		font-weight: 700;
	}
	&__button-start {
		@extend %btn;
		margin-top: 3%;
		background-color: #a09ddc;
		border: 1px solid rgb(41, 41, 41);
	}
}
