.modal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: rgba(225, 225, 225, 0.44);
    position: absolute;
    top:0;
    z-index: 9999999999999;
    &__box{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 450px;
        height: 180px;
        background-color: #fff;
        border-radius: 0.3rem;
        >p {
            font-size: 14px;
            text-align: left;
            line-height: 25px;
            margin: 0;
            color: #737373;
        }
    }
    &__headline{
        display: flex;
        >h5{
            margin: 0 0 20px 0;
            color: #1293D6;
        }
    }
    &__button-ctn{
        display: flex;
        justify-content: flex-end;
    }
    &__button{
        display: flex;
        font-weight: 500;
        background-color: rgb(245, 244, 244);
        letter-spacing: 0.06rem;
        border: 1px solid #ddd;
        border-radius: 0.3rem;
        padding: 2%;
        margin-top: 7%;
        font-size: 11px;
        &--blue{
            color: #fff;
            background-color: #1293D6;
            border: 1px solid #1293D6;
            margin-left: 5px;
            &:hover{
                background-color: #106BAC;
            }
        }
        &:hover{
            cursor: pointer;
        }

    }
}