@import "./variables";


.modal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: rgba(187, 186, 186, 0.509);
    position: absolute;
    top:0;
    z-index: 9999999999999;
    &__box{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 4%;
        @extend %flexCCC;
        width: 520px;
        height: 220px;
        background-color: rgb(245, 245, 245);
        border-radius: 0.3rem;
        box-shadow: 0px 0px 3px 3px rgb(65, 63, 63);
        >p {
            font-size: 1rem;
            text-align: left;
            line-height: 25px;
            margin: 0;
            color: rgb(58, 58, 58);
        }
    }
    &__headline{
        display: flex;
        >h5{
            margin: 0 0 20px 0;
            color: #0c0b45;
        }
    }
    &__button-ctn{
        margin-top: 7%;
        display: flex;
        justify-content: flex-end;
    }
    &__button{
        @extend %btn;
        margin: 1%;

       
        // display: flex;
        // font-weight: 500;
        // background-color: rgb(245, 244, 244);
        // letter-spacing: 0.06rem;
        // border: 1px solid #ddd;
        // border-radius: 0.3rem;
        // padding: 2%;
        // margin: 7% 1% 0 1%;
        // font-size: 11px;
        &-restart{
            background-color: #D999DB;
            border: 1px solid rgb(41, 41, 41);
        }
        &-home{
            background-color: #e5e79e;
            border: 1px solid rgb(41, 41, 41);
        }
        &-stats{
            background-color: #b9f0bd;
            border: 1px solid rgb(41, 41, 41);
            
        }
       
        &:hover{
            cursor: pointer;
        }

    }
}

@media only screen and (max-width: 580px) {
    .modal {
        &__box{
            width: 60%;
            height: auto;
        }
       
        &__button-ctn{
            width: 100%;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
        &__button{
            width: 90%;
            order: 2;
            text-align: center;
            display: block;
            padding: 10px 0;
            margin-top: 10px;
        }
    }

    .relocateCtn {
        width: 100%;
    }

    .modalsButtonsContainer {
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .modalButtons {
        width: 90%;
        order: 2;
        text-align: center;
        display: block;
        padding: 10px 0;
        margin-top: 10px;
    }

    .modalButtons.blueButtons {
        order: 1;
        margin-left: 0;
        margin-top: 20px;
    }

    .modalContainer > .modalBox > form > input {
        height: 30px;
        padding-left: 5px;
    }
}