@import "./variables";

.quiz {
	color: white;
	height: 100%;

	&__title {
		padding: 2%;
		font-size: 1.8rem;
	}
	&__icon-catagory {
		@extend %flexJC;
		padding: 5px 0;
		&:focus {
			outline: none;
		}
	}
	&__container {
		width: 100%;
		height: 70%;
		@extend %flexCCC;
		position: relative;
	}

	&__button {
		position: absolute;
		top: 50%;
		background-color: transparent;
		border: none;
		padding: 0;

		&-next {
			right: 5%;
			&--fake {
				font-size: 60px;
				color: white;
			}
			&:focus,
			&:hover,
			&:active {
				> .quiz__button-next--fake {
					color: rgb(0, 217, 255);
				}
			}
		}
		&-prev {
			left: 5%;
			&--fake {
				font-size: 60px;
				color: white;
			}
			&:focus,
			&:hover,
			&:active {
				> .quiz__button-prev--fake {
					color: rgb(0, 217, 255);
				}
			}
		}
		&:focus {
			outline: none;
		}
		&-result {
			@extend %btn;
			margin: 1%;

			background-color: #a09ddc;
			border: 1px solid rgb(41, 41, 41);
		}
	}

	&__section {
		@extend %flexCCC;
		width: 100%;
	}
	&__text-question {
		padding: 2% 5%;
		text-align: center;
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: auto;
		width: 70%;
		text-align: left;
		font-size: 1.4rem;
		@extend %font-SW7;
		// &:focus {
		// 	outline: none;
		// }
	}
	&__radiobtn {
		width: 60%;
		display: flex;
		align-items: center;
		border: 1px rgb(182, 182, 182);
		border-style: dotted solid;
		padding: 2%;
		border-radius: 10px;
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: auto;

		&-input {
			border: 0;
			padding: 0;
			width: 1px;
			height: 1px;
			margin: -1px;
			opacity: 0;
			position: absolute;
			overflow: hidden;
			&:checked {
				+ span.quiz__radiobtn--fake {
					// border-color: #6200eeff;
					&::after {
						background: rgb(107, 1, 255);
						opacity: 1;
					}
					&::before {
						// background-color: rgba(0, 251, 255, 0.44);
						opacity: 1;
					}
				}
				~ span.quiz__radiobtn-option {
					color: #00fffb;
					font-weight: 700;
				}
			}
			&:focus {
				+ span.quiz__radiobtn--fake {
					&::before {
						// background-color: rgba(0, 251, 255, 0.44);
						opacity: 1;
					}
				}
			}
			&:hover {
				+ span.quiz__radiobtn--fake {
					&::before {
						// background-color: rgba(0, 251, 255, 0.44);
						opacity: 1;
					}
				}
			}
			&:active {
				+ span.quiz__radiobtn--fake {
					::before {
						// background-color: rgba(0, 251, 255, 0.44);
						opacity: 1;
					}
				}
			}
		}
		&--fake {
			width: 20px;
			height: 20px;
			margin: 0 1%;
			position: relative;
			background-color: white;
			border-radius: 50px 50px;
			border: 2px #00000089 solid;
			display: block;
			transition: all .5s ease;
			&::after {
				content: "";
				display: block;
				width: 10px;
				height: 10px;
				background: #00000089;
				border-radius: 50%;
				position: absolute;
				box-shadow: 0px 0px 1px rgb(101, 100, 100);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: all .3s ease;
			}
			&::before {
				content: '';
				height: 38px;
				width: 38px;
				opacity: 0;
				border-radius: 50%;
				z-index: 4;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				position: absolute;
				background-color: rgba(231, 251, 254, 0.434);
			}
		}
		&-option {
			margin-left: 20px;
			width: 80%;
			font-size: 1.2rem;
			font-weight: 400;
			letter-spacing: 1px;
		}
	}
	&__text-alert {
		color: #00fffb;
		letter-spacing: 1px;
		font-size: 1.2rem;
		font-weight: 700;
	}
}

@media only screen and (max-width: 375px) {
	.quiz {
		&__icon-catagory {
			margin-top: -10px;
			margin: 0;
			padding: 0;
		}
		&__img {
			width: 60px;
		}
		&__button {
			&-next,
			&-prev {
				&--fake {
					font-size: 40px;
				}
			}
		}
		&__radiobtn {
			width: 60%;
			&-option {
				font-size: 0.8rem;
				letter-spacing: 0;
			}
		}

		&__container {
			height: 70%;
		}
		&__text-question {
			font-size: 1rem;
		}
	}
}
