@import "./variables";

.stats{
    color: white;
    @extend %flexCCC;
    &__title{
        color: grey;
    }
    &__info{
        &-playtimes{
            color: rgb(0, 255, 251);

        }
    }

    &__session{
        width: 100%;
        @extend %flexRCC;
        flex-wrap: wrap;
        padding: 5% 0;

        &-ctn{
            width: 130px;
            margin: 3% 0;   
        }

        &--img{
            width: 40%;
            margin-top: -5px;

        }
        &--text{
            font-size: 2rem;
            margin: -5px 0 1px 0;
            padding: 0 10%;
            &-sub{
                color:  white;
                padding: 0 10%;
            }

        }

    }
    &__progress{
        width: 200px;
        margin: 3% 0;
     
        &--text{
            font-size: 2rem;
            margin: -5px 0 1px 0;
         
            &-sub{
                color:  white;
            }

        }

    }
    &__container-btn{
        width: 100%;
        @extend %flexJC;
        margin-top: 0%;
    }
    
    &__button{
      @extend %btn;
        
    }
}
