*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: url("./materials/BgNoLOGO.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.App{
  height: 100vh;
  font-family: 'Comic Neue', cursive;
}

.container {
 height: 85vh;

}

footer {
  height: 5vh;
  color: rgb(210, 210, 210);
  text-align: center;
  background-color: transparent;
}

footer p {
  margin: 0;
}
